/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* NAVIGATION BAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #29633e;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 60px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}

.menu .ul-navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

.menu .ul-navbar li {
  margin: 0 15px;
}

.menu .ul-navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
}

.menu .ul-navbar li a:hover {
  background-color: #a3c8bf;
  border-radius: 5px;
}

/* HERO SECTION */
.hero {
  background-image: url("direktorat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h2 {
  font-size: 36px;
  margin: 10px 0;
}

.hero span {
  color: green;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc107;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e0a800;
}

/* video */
.gr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    to right,
    #9dbfb1,
    #e2e7e8
  ); /* gradasi pink-putih */
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 900px;
}

/* CONTENT SECTION */
.container-content {
  padding: 50px 20px;
  text-align: center;
}

.container-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.content-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.content-item h3 {
  font-size: 20px;
  color: #004085;
}

/* FOOTER */
footer {
  background-color: #29633e;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
